<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>IRIS Project</title>

  </head>
  <body>

    <br>
  <div class="row">
      <div class="column_home" id="left-col" align="center">
        <h1 class="main-heading">Facial Emotions Analyser</h1>
        <div style="width:70%; text-align:justify; align-content:center; display:inline-block;">
          <p> This ML model will analyse and interpret your facial emotions.</p>
          <br>
          <p> You will be provided a feedback on your facial emotions such as :
          <ul>
            <li>Anger</li>
            <li>Happiness</li>
            <li>Fear</li>
            <li>Sadness</li>
            <li>Surprise</li>
            <li>Disgust</li>
          </ul>
          <br>
          <br>
        </div>
      </div>
     </div>

  </div>


  <div class="row">
    <!--
    Video Interview button
    -->
     <div class="column_home" id="left-col" align="center">
         <form action="/video" method="post" align="center">
         <input type="submit" name="video" value="Learn More!" align="center">
       </form>
     </div>
</div>

<br>
<br>
<br>

  </body>
</html>